.trending_heading_container {
  flex-direction: row !important;
  gap: 8px !important;
  align-self: stretch;
  padding: 32px;
  justify-content: flex-start !important;

}
.trending_heading_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.card_trending_container{
    flex-direction: column !important;
}
.trending_card{
    display: flex;
    flex-direction: row !important;
    max-width: 600px !important;
    gap: 16px;
}
.trending_details{
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 8px !important;
}
.trending_card .title{
    font-size: 16px;
}
.trending_card p{
    font-size: 12px;
}